<h2>Working hours for this week</h2>
<div class="time_report">
  <table>
    <% if @time_report.empty? -%>
      No time logged for this week.<br/>
      Want to search for cool new jobs?
      <% form_tag({:action=>'search_jobs'}, :method=>:get) do -%>
        <%= text_field_tag :query %>
        <%= submit_tag "search" %>
      <% end -%>
    <% else -%>
      <% @time_report.each do |entry| -%>
        <tr>
          <td><%= entry['team_name'] %></td>
          <td><%= format_hours(entry['hours']) %></td>
        </tr>
      <% end -%>
    <% end -%>
  </table>
</div>
